{
	"arrowParens": "always",
	"trailingComma": "none",
	"tabWidth": 4,
	"printWidth": 80,
	"semi": true,
	"doubleQuote": true,
	"bracketSpacing": true,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto"
}
